<h2 class="text-center">New Order</h2>
<hr>
<div class="container">
  <form [formGroup]="orderFormControl" name="orderFormControl" (keyup.enter)="sendNewOrder()" novalidate
    autocomplete="off">

    <div class="form-group row">
      <label class="col-form-label col-sm-4 col-4">Market</label>
      <select class="form-control col-sm-5 col-5" formControlName="tradingPair" name="tradingPair">
        <option *ngFor="let tradingPairs of tradingPairs" [value]="tradingPairs">{{tradingPairs}}</option>
      </select>
      <i class="fa fa-times-circle fa-5 text-danger" aria-hidden="true"
        *ngIf="orderFormControl.get('tradingPair').invalid && orderFormControl.get('tradingPair').touched">
      </i>
    </div>


    <div class="form-group row">
      <label class="col-form-label col-sm-4 col-4">Order type</label>
      <select class="form-control col-sm-5 col-5" formControlName="orderType" name="orderType"
        (change)="onOrderTypeChanged()">
        <option *ngFor="let ordertype of ordertypes; let i = index" [value]="i">{{ordertype}}</option>
      </select>
      <i class="fa fa-times-circle fa-5 text-danger" aria-hidden="true"
        *ngIf="orderFormControl.get('orderType').invalid && orderFormControl.get('orderType').touched">
      </i>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-sm-4 col-4">I want to</label>
      <select class="form-control col-sm-5 col-5" formControlName="orderSide" name="orderSide">
        <option *ngFor="let orderSide of orderSides; let i = index" [value]="i">{{orderSide}}</option>
      </select>
      <i class="fa fa-times-circle fa-5 text-danger" aria-hidden="true"
        *ngIf="orderFormControl.get('orderSide').invalid && orderFormControl.get('orderSide').touched">
      </i>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-sm-4 col-4">Satoshi Amount</label>
      <input type="text" class="fomr-control col-md-5 col-sm-4 col-5" formControlName="satoshiFunds"
        name="satoshiFunds">
      <i class="fa fa-times-circle fa-5 text-danger" aria-hidden="true"
        *ngIf="orderFormControl.get('satoshiFunds').invalid && orderFormControl.get('satoshiFunds').touched">
      </i>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-sm-4 col-4">Satoshi Price</label>
      <input type="text" class="fomr-control col-md-5 col-sm-4 col-5" formControlName="satoshiPrice"
        name="satoshiPrice">
      <i class="fa fa-times-circle fa-5 text-danger" aria-hidden="true"
        *ngIf="orderFormControl.get('satoshiPrice').invalid && orderFormControl.get('satoshiPrice').touched">
      </i>
    </div>


    <div class=" form-group row">
      <div class="col-sm-7 col-7"></div>
      <div class="col-sm-4 col-4">
        <button class="btn btn-primary" [disabled]="orderFormControl.invalid" (click)="sendNewOrder()" type="button">
          Send <i class="fas fa-exchange-alt"></i>
        </button>
      </div>
    </div>
  </form>
</div>
